body {
    background-color: bisque;
    
}
h2{
  color: red;
  text-align: center;
}
#myLittleDiv{
  box-shadow: 5px 5px 20px #8cb3b8;
  overflow:hidden;
  width:100%;
  height:auto;
  display:inline-block;
  position:relative;
  background:lightblue ;
  padding:1vw;
  border-radius:5vw;
  margin:5vw;
  top: 3vw;
  
}

#mySecondDiv{
  box-shadow: 5px 5px 20px #8cb3b8;
  overflow:hidden;
  width:100%;
  height:auto;
  display:inline-block;
  position:relative;
  background:lightblue ;
  padding:1vw;
  border-radius:5vw;
  margin:2vw 5vw;
}
.card{
  box-shadow: 5px 5px 5px bisque;
  margin: 1vw;
  height: auto;
  border-radius: 2vw;
  position: relative;
}
.card-img-top{
  border-radius:2vw ;
}
#myLittleAboutDiv{
  box-shadow: 5px 5px 20px #8cb3b8;
  overflow:hidden;
  width:100%;
  height:auto;
  display:inline-block;
  position:relative;
  background:lightblue ;
  padding:1vw;
  border-radius:5vw;
  margin:5vw;
  top: 3vw;
  
}
#myLittleContactDiv{
  box-shadow: 5px 5px 20px #8cb3b8;
  overflow:hidden;
  width:100%;
  height:auto;
  display:inline-block;
  position:relative;
  background:lightblue ;
  padding:1vw;
  border-radius:5vw;
  margin:5vw;
  top: 3vw;
  
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 3vw;
  background-color: #f2f2f2;
  padding: 20px;
}

@media (max-width: 576px) {  
  .xs {color:red;font-weight:bold;}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width:768px) {  
  .sm {color:red;font-weight:bold;}
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) and (max-width:992px) {  
 .md {color:red;font-weight:bold;}
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width:1200px) { 
 .lg {color:red;font-weight:bold;}
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .xl {color:red;font-weight:bold;}
}
 
